[submodule "backend/forge-pumpkin/lib/forge-std"]
	path = backend/forge-pumpkin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/forge-pumpkin/lib/openzeppelin-contracts"]
	path = backend/forge-pumpkin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
